<?xml version="1.0" encoding="utf-8" ?>
<!-- 
   Copyright 2021 Absa Group

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 -->  
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <!-- 
  See https://github.com/nlog/nlog/wiki/Configuration-file 
  for information on customizing logging rules and outputs.
   -->

    <!-- Custom variables. Do not delete them without consulting the code using them.-->
    <variable name="deleteFilesAfterDays" value="7"/>
    <variable name="logFileSuffix" value="deletable.absa.rd.log"/>

    <targets>
        <target name="FileAsync" xsi:type="AsyncWrapper"
            overflowAction="Grow">

            <target name="file"
                    xsi:type="File"
                    header="******************************** Application STARTED ********************************"
                    footer="******************************** Application STOPPED ********************************"
                    createDirs="true"
                    fileName="${gdc:item=LogDir}/${processname}_${gdc:item=StartTime}.${logFileSuffix}"
                    layout="${time}; ${level:uppercase=true:padding=5}; ${message}; ${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}; ${exception:format=tostring}"
                    autoFlush="false"
                    keepFileOpen="true">
            </target>
        </target>

        <target name="StructuredConsole" xsi:type="Console">
            <layout xsi:type="JsonLayout"
                    includeAllProperties="true"
                    includeMdlc="true"
                    excludeProperties="EventId,EventId_Id,EventId_Name"
                    MaxRecursionLimit="2">

                <attribute name="Message" layout="${message}" encode="false" />
                <attribute name="Timestamp" layout="${date:format=yyyy-MM-ddTHH\:mm\:ss.fff zz}" />
                <attribute name="Level" layout="${level:upperCase=true}"/>
                <attribute name="RequestId" layout="${activityid:whenEmpty=${mdlc:item=RequestId:whenEmpty=${aspnet-TraceIdentifier}}}" />
                <attribute name="Exception" layout="${exception:format=toString}" />
                <attribute name="MachineName" layout="${machinename}" />
            </layout>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="FileAsync">
            <filters>
                <!-- Ignore too verbose output from the mvc request/response diagnostic -->
                <when condition="contains('${message}', 'Executing endpoint')" action="Ignore" />
                <when condition="contains('${message}', 'Executed endpoint')" action="Ignore" />
                <when condition="contains('${message}', 'Executed action')" action="Ignore" />
            </filters>
        </logger>
        <logger name="*" minlevel="Info" writeTo="StructuredConsole">
            <filters>
                <!-- Ignore too verbose output from the mvc request/response diagnostic -->
                <when condition="contains('${message}', 'Executing endpoint')" action="Ignore" />
                <when condition="contains('${message}', 'Executed endpoint')" action="Ignore" />
                <when condition="contains('${message}', 'Executed action')" action="Ignore" />
            </filters>
        </logger>
    </rules>
</nlog>