<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    
    <targets>
        <target name="DevConsole"
                xsi:type="ColoredConsole"
                header="******************************** Application STARTED ********************************"
                footer="******************************** Application STOPPED ********************************"
                layout="${time}; ${level:uppercase=true:padding=5}; ${message}; ${exception:format=tostring}">

            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed"/>
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
            <highlight-row condition="level == LogLevel.Info" foregroundColor="DarkGreen"/>
        </target>
    </targets>

    <rules>   
        <logger name="*" minlevel="Trace" writeTo="DevConsole">
            <filters>
                <!-- Ignore too verbose output from the mvc request/response diagnostic logger -->
                <when condition="contains('${message}', 'Executing endpoint')" action="Ignore" />
                <when condition="contains('${message}', 'Executed endpoint')" action="Ignore" />
                <when condition="contains('${message}', 'Executed action')" action="Ignore" />
            </filters>
        </logger>
    </rules>
</nlog>